<div class="row">

  <div class="col-md-8 well">
    <p><%= comment.description %></p>
    <p>
      <span class="quiet"><small>Created:  <%= comment.user.name %></small></span>
    </p>
  </div>
</div>