
  <div class="row">

    <!-- Blog Entries Column -->
    <div class="col-md-8">

      <h1 class="page-header">
        Recent Blogs
      </h1>

      <!--  Blog Posts -->
      <%= render 'posts',obj: @posts %>

      <%= render 'layouts/sidebar'%>

    </div>


  </div>

